.d-grid{
    display: grid;
}
.task1{
    grid-template: 150px 150px 150px/1fr 1fr ;
}
.task1 div:nth-child(2){
    align-self: center;
}
.task1 div:nth-child(4){
    align-self: center;
}
.task1 div:nth-child(6){
    align-self: center;
}
.task2{
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(4,50px);
    grid-gap: 10px;
    height: 300px;
    align-content: center;
}
.task2 div:nth-child()
.align-self-item{
    grid-template: repeat(2,100px)/1fr 1fr;
    align-items:start;
    justify-items: center;
}
